body {
  /* background-image: linear-gradient(#e4efe9 , #93a5cf  );  !Bright background  */
  font-family: 'Mulish', sans-serif;

}

h1 {
  text-align: center;
}

.item-container{
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
.button-container{
  text-align: center;
}
#logo{
  padding: 20px;
  background-color: lightgray;
  border-radius: 10px;
}

button{
  margin: 5px;
  padding: 0;
  border: none;
  background: none;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;

}

button:hover{
  transform: scale(1.2);
  background-color: lightgray;
  color: black;
}
button:active{
  transform: scale(1);
}

#root {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.items  {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px  ;
  margin: 3rem;
  height: 17rem;
  width: 20rem;
}

#root > .items {
  text-align: center;
}

.items:hover {
  transform: scale(1.05);

}

img {
  width: 7.5rem;
  height: 7.5rem;
}

.item-container>img{
  width: 20vw;
  height: auto;
  border: 1px solid #555;
}