body {
  /* background-image: linear-gradient(#e4efe9 , #93a5cf  );  !Bright background  */
  background-image: linear-gradient(#868f96  , #414547);
  background-repeat: no-repeat;
  background-size: fill;
  font-family: 'Comic Sans MS';
}

h1 {
  text-align: center;
}

#root {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.items  {
  border: 0.2rem solid rgba(0, 0, 0, 0.244);
  border-radius: 20px;
  margin: 3rem;
  height: 17rem;
  width: 20rem;
}

#root > .items {
  text-align: center;
}

.items:hover {
  transform: scale(1.2);
  border: 0.2rem solid rgba(0, 0, 0, 0.644);
  background-color:#575d60;
  cursor: pointer;
}

.singlitem {
  text-align: center;
}

img {
  width: 7.5rem;
  height: 7.5rem;
}
